.home{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 8% 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    width: 100%;
    height: 100vh;

}
.home-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content:center;
    align-items: flex-end;
}
.home-left span {
    font-style: Bold;
    text-shadow: 2px 2px 4px rgba(103, 103, 103, 0.585);
}
.home-right{
    display: flex;
    justify-content: center;
}

.image {
    padding: 0px 0rem;
    height: auto;
    width: 70%;
    filter: drop-shadow(5px 15px 44px rgba(0, 0, 0, 0.3));
}
button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: solid 2px;
    padding: 1rem 2rem;
    border-radius: 45px;
}

button :hover {
    font-size: 1.01rem;
    transition: 0.3s ease-out;
    color: rgb(23, 23, 23);
    text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.241);
}
